/* Estilos generales del footer */
.footer {
    background-color: #094e48;
    color: #fff;
    padding: 10px 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin: 5px 0;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  /* Redes sociales */
  .social-links {
    display: flex;
    gap: 15px;
  }
  
  .social-links a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .social-links a:hover {
    color: #007bff;
  }
  
  /* Copyright */
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 0.9em;
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
    .footer-section {
      margin: 20px 0;
    }
  }