.custom-navbar {
    background-color: #094e48;
    padding: 20px 0;
}
  
.custom-navbar .nav-link {
    color: #ecf0f1 !important;
    font-weight: 500;
    transition: color 0.3s ease;
    margin: 0 10px;
}
  
.custom-navbar .nav-link:hover {
    color: #a4ceca !important;
}
  
.custom-navbar .nav-link.active {
    color: #4bbbb2 !important;
    font-weight: bold;
}