<!-- Encabezado -->
<header class="bg-light py-5 text-center">
  <div class="container">
    <h1 class="display-4">Bienvenido a nuestra tienda</h1>
    <p class="lead">Descubre los mejores productos al mejor precio. ¡Explora nuestra colección ahora!</p>
    <!-- <a href="#/productos" class="btn btn-primary btn-lg mt-3">Ver productos</a> -->
  </div>
</header>


<!-- Carrusel de imagenes -->

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="images/image_2.jpg" class="d-block w-100 img-fluid" style="max-height: 500px; object-fit: cover;" alt="Primer slide">
      <div class="carousel-caption d-none d-md-block bg-light bg-opacity-50 rounded">
        <h5 class="text-dark">Título del Primer Slide</h5>
        <p class="text-dark">Contenido descriptivo para el primer slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="images/image_3.jpg" class="d-block w-100 img-fluid" style="max-height: 500px; object-fit: cover;" alt="Segundo slide">
      <div class="carousel-caption d-none d-md-block bg-light bg-opacity-50 rounded">
        <h5 class="text-dark">Título del Segundo Slide</h5>
        <p class="text-dark">Contenido descriptivo para el segundo slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="images/image_4.jpg" class="d-block w-100 img-fluid" style="max-height: 500px; object-fit: cover;" alt="Tercer slide">
      <div class="carousel-caption d-none d-md-block bg-light bg-opacity-50 rounded">
        <h5 class="text-dark">Título del Tercer Slide</h5>
        <p class="text-dark">Contenido descriptivo para el tercer slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="images/img1.jpg" class="d-block w-100 img-fluid" style="max-height: 500px; object-fit: cover;" alt="Tercer slide">
      <div class="carousel-caption d-none d-md-block bg-light bg-opacity-50 rounded">
        <h5 class="text-dark">Título del Tercer Slide</h5>
        <p class="text-dark">Contenido descriptivo para el tercer slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
  
<!-- Sección de Artículos/Blog -->
<div class="row mt-4">
  <div class="col-12">
    <h2 class="text-center mb-3">Consejos para ti</h2>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card">
      <img src="images/image_3.jpg" class="card-img-top" alt="Artículo 1">
      <div class="card-body">
        <h5 class="card-title">Tendencias Tecnológicas 2024</h5>
        <p class="card-text">Descubre las innovaciones que transformarán nuestra forma de vivir.</p>
        <a href="#" class="btn btn-primary">Leer más</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card">
      <img src="images/image_4.jpg" class="card-img-top" alt="Artículo 2">
      <div class="card-body">
        <h5 class="card-title">Guía de Compra de Dispositivos</h5>
        <p class="card-text">Consejos para elegir el mejor dispositivo según tus necesidades.</p>
        <a href="#" class="btn btn-primary">Leer más</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card">
      <img src="images/image_5.jpg" class="card-img-top" alt="Artículo 3">
      <div class="card-body">
        <h5 class="card-title">Sostenibilidad en Tecnología</h5>
        <p class="card-text">Cómo las empresas tech están reduciendo su huella de carbono.</p>
        <a href="#" class="btn btn-primary">Leer más</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card">
      <img src="images/image_4.jpg" class="card-img-top" alt="Artículo 2">
      <div class="card-body">
        <h5 class="card-title">Guía de Compra de Dispositivos</h5>
        <p class="card-text">Consejos para elegir el mejor dispositivo según tus necesidades.</p>
        <a href="#" class="btn btn-primary">Leer más</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card">
      <img src="images/image_5.jpg" class="card-img-top" alt="Artículo 3">
      <div class="card-body">
        <h5 class="card-title">Sostenibilidad en Tecnología</h5>
        <p class="card-text">Cómo las empresas tech están reduciendo su huella de carbono.</p>
        <a href="#" class="btn btn-primary">Leer más</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <div class="card">
      <img src="images/image_4.jpg" class="card-img-top" alt="Artículo 2">
      <div class="card-body">
        <h5 class="card-title">Guía de Compra de Dispositivos</h5>
        <p class="card-text">Consejos para elegir el mejor dispositivo según tus necesidades.</p>
        <a href="#" class="btn btn-primary">Leer más</a>
      </div>
    </div>
  </div>
</div>